 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.header {
    height: 80px;
    background-color: #210c2b;
    border-bottom: 3px solid #9400d3;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    height: 100%;
    /* para o container ter 100% do tamanho do elemento pai */
}

h1 {
    margin: 0;
    padding: 0;
    color: white
}

.card-list {
    margin: 40px 0;
}

.card {
    display: flex;
    border: 1px solid rgba(208, 255, 0, 0.671);
    margin: 10px 0;
}

.card .imagem {
    overflow: hidden;
    /* para "cortar" a imagem caso ela seja maior que a caixa*/
}

.card .imagem img {
    height: 100%;
    /* para que a imagem tenha altura de 100% da caixa*/
}

.card .texto {
    width: 50%;
    margin-left: 20px;
}

.card .texto p{
    color: #ffffff;
    font-size: large;
}

.footer {
    height: 100px;
    background-color: #210c2b;
    color: #fff
}

.footer .container {
    justify-content: center;
}